body {
  background-color: rgb(255, 210, 154);
}

nav {
  background-color: rgb(168, 115, 0);
}

nav h3 {
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(168, 115, 0);
}

.btn {
  background-color: rgb(255, 210, 154);
  padding: 0.4em;
  color: rgb(0, 0, 0);
}

.card {
  border-radius: 30px;
  background-color: rgb(168, 115, 0);
}

.card img {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.card p {
  font-size: 1.4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#col-form {
  background-color: rgb(168, 115, 0);
}

.container {
  background-color: rgb(255, 210, 154);
}
